.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.album-img {
  width: 12em;
  height: 12em;
  margin-bottom: 0.8em;
}

.album-card {
   width: 16rem;
   margin-left: 1rem;
  marginTop: 1rem;
}

.song_name_card {
  min-height: 2em;
  vertical-align: middle;
}